.tableIcon {
  padding: 0 !important;
}

.tableIcon svg {
  font-size: 1.4rem;
  padding-left: 0.5rem;
  opacity: 0.75;
}

.tableIcon svg:hover {
  transition: all 0.4s ease;
  opacity: 1;
}

#appendixBTN {
  margin-bottom: 1rem;
}

.appendixTable_row td {
  padding: 0px !important;
  padding-right: 10px !important;
}

.appendixTable_row {
  height: 40px !important;
}