* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

h2 {
  font-size: 4em !important;
  font-family: 'cooper black' !important;
  color: #fa8ab0;
  -webkit-text-stroke: 2.5px #b61588;
}

/* a {
  color: #fa8ab0 !important;
  text-decoration: none !important;
} */